<div ng-include="'/templates/loader.html'"></div>

<div id="popupContainer" class="container body-content" ng-show="isActive">
	<md-content>
		<section class="demo-container md-whiteframe-z1">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>
						<span>{{'Contragents'|translate}}</span>
					</h2>
					<span flex></span>

					<md-input-container class="md-block searchPlaceholder" flex style="margin-top:42px; margin-left: 50px;">
						<label style="margin-bottom:0;" ng-show="searchString == null || searchString == '' ">{{'SEARCH'| translate}} ...</label>
						<input id="search" aria-label="input" ng-model="searchString" style="color:white; font-size:12pt;"/>
					</md-input-container>
					
					<md-button class="md-icon-button" aria-label="Search" ng-show="searchString == null || searchString == '' ">
						<md-icon md-font-icon="ion-search"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Search" ng-show="searchString!= null && searchString != ''" ng-click="searchString = null">
						<md-icon md-font-icon="ion-android-close"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<div layout="row" layout-padding="" ng-cloak>
				<md-content flex>
					<md-list ng-cloak style="margin-top: -20px">
						<md-list-item class="md-2-line" ng-repeat="contragent in contragents | contragentsSearchFor:searchString ">
							<md-icon style="font-size:24px;" md-font-icon="ion-ios-folder" ng-click="editContragent(contragent.id)">
							</md-icon>
							<div class="md-list-item-text">
								<table>
									<td style="padding:0 30px 0 0;">
										<h3 ng-click="editContragent(contragent.id)"><b>{{contragent.name}}</b></h3>
										<h4> <b>{{'LICENSE_NUMBER' | translate}}:</b> {{contragent.licenseNumber}} </h4>
									</td>
									<td>
										<p ng-repeat="address in contragent.addresses">
											<i ng-show="address.type == 1">{{ 'LEGAL_ADDRESS' | translate }}: {{address.address}}, {{address.postCode}}, {{address.city}}, {{address.country}}</i>
											<i ng-show="address.type == 2"> {{ 'PHYSICAL_ADDRESS' | translate }}: {{address.address}}, {{address.postCode}}, {{address.city}}, {{address.country}}</i>
											<i ng-show="address.type == 3"> {{ 'HOME_ADDRESS' | translate }}: {{address.address}}, {{address.postCode}}, {{address.city}}, {{address.country}}</i>
										</p>
									</td>
								</table>
							</div>

							<md-icon style="font-size:24px;" md-font-icon="ion-checkmark-circled" ng-show="contragent.status == 'a'">
								<md-tooltip md-direction="left">
									{{ 'ACTIVE' | translate }}
								</md-tooltip>
							</md-icon>
							<md-icon style="font-size:24px;" md-font-icon="ion-android-cancel" ng-show="contragent.status == 'i'">
								<md-tooltip md-direction="left">
									{{ 'INACTIVE' | translate }}
								</md-tooltip>
							</md-icon>

							<md-button aria-label="edit" class="md-icon-button md-secondary" ng-click="editContragent(contragent.id)" ng-show="detailClaim">
								<md-icon class="material-icons md-24 md-dark">open_in_new
									<md-tooltip md-direction="down">
										{{ 'DETAILS' | translate }}
									</md-tooltip>
								</md-icon>
							</md-button>
							<md-button aria-label="delete" class="md-icon-button md-secondary" ng-click="showDeleteCtgConfirmDialog(contragent.id)" ng-show="deleteClaim">
								<md-icon md-svg-icon="/lib/icons/delete.svg">
									<md-tooltip md-direction="down">
										{{ 'DELETE' | translate }}
									</md-tooltip>
								</md-icon>
							</md-button>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</md-content>
			</div>
		</section>
	</md-content>
	<nav mfb-menu position="br" effect="zoomin" active-icon="ion-more" resting-icon="ion-more">
		<a mfb-button icon="ion-ios-search-strong" label="{{'SEARCH' | translate}}"></a>
		<a mfb-button icon="ion-android-contact" label="{{'ADD_CONTRAGENT' | translate}}" ng-click="showAddContragentDialog()" ng-show="addClaim"></a>
	</nav>
</div>