<md-dialog aria-label="Mango (Fruit)">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Contragent</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close()" ng-show="!Saving">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">

			<div ng-include="'/templates/saving_loader.html'"></div>

			<form name="contragentForm" ng-show="!Saving">
				<md-input-container class="md-block" style="width:400px;">
					<label>{{'CONTRAGENT_NAME'| translate}}</label>
					<input name="contragent_name" ng-model="contragent.name" placeholder="Firma S. A." md-maxlength="100" required>
					<div ng-messages="contragentForm.contragent_name.$error" role="alert" multiple>
						<div ng-message="required">{{'NAME_REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'NAME_IS_TO_LONG'| translate}}</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<label>{{'INN'| translate}}</label>
					<input name="license_number" ng-model="contragent.inn" md-maxlength="100" required>
					<div ng-messages="contragentForm.inn.$error" role="alert" multiple>
						<div ng-message="required">{{'IS_REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'IS_TO_LONG'| translate}}</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<label>{{'LICENSE_NUMBER'| translate}}</label>
					<input name="license_number" ng-model="contragent.licenseNumber" placeholder="License number" md-maxlength="100" required>
					<div ng-messages="contragentForm.license_number.$error" role="alert" multiple>
						<div ng-message="required">{{'LICENSE_NUMBER_REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'LICENSE_NUMBER_IS_TO_LONG'| translate}}</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<md-checkbox ng-model="contragent.subscription" aria-label="Checkbox 1">
						{{ 'SUBSCRIPTION' | translate }}
					</md-checkbox>
				</md-input-container>

				<md-input-container class="md-block" ng-show="!isContragent">
					<label>{{ 'STATUS' | translate }}</label>
					<md-select name="type" ng-model="contragent.status" data-placeholder="{{ 'STATUS' | translate }}" required>
						<md-option value="a">{{ 'ACTIVE' | translate }}</md-option>
						<md-option value="i">{{ 'INACTIVE' | translate }}</md-option>
					</md-select>
				</md-input-container>

			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" ng-show="!Saving">
		<md-button ng-click="saveContragentClick()">
			Save
		</md-button>
	</md-dialog-actions>
</md-dialog>