<div ng-include="'/templates/loader.html'"></div>

<div id="popupContainer" class="container body-content" ng-show="isActive">
	<md-content>
		<section class="demo-container md-whiteframe-z1">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>
						<span ng-click="expandOffers=! expandOffers">{{'OFFERS'|translate}}</span>
					</h2>
					<span flex></span>
					<md-input-container class="md-block searchPlaceholder" md-no-float flex style="margin-top:42px; margin-left: 50px;">
						<label style="margin-bottom:0;" ng-show="searchOffersString == null || searchOffersString == '' ">{{'SEARCH'| translate}} ...</label>
						<input id="search" aria-label="input" ng-model="searchOffersString" style="color:white; font-size:12pt;" />
					</md-input-container>

					<md-button class="md-icon-button" aria-label="Search" ng-show="searchOffersString == null || searchOffersString == '' ">
						<md-icon md-font-icon="ion-search"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Search" ng-show="searchOffersString!= null && searchOffersString != ''" ng-click="searchOffersString = null">
						<md-icon md-font-icon="ion-android-close"></md-icon>
					</md-button>

					<md-button aria-label="button" class="md-icon-button" ng-click="showNewOfferDialog()" ng-show="addClaim">
						<md-icon md-font-icon="ion-plus-round"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<div layout="row" ng-cloak>
				<md-content flex>
					<md-list ng-cloak>
						<md-list-item class="md-2-line" ng-repeat="offer in offers | offersSearchFor : searchOffersString">
							<md-icon style="font-size:32px;" md-font-icon="ion-document-text" ng-click="editOffer(offer.id)"></md-icon>
							<div class="md-list-item-text">
								<div layout="row" flex>
									<div layout="column">
										<div layout="row" layout-align="start center">
											<div class="md-list-item-text">
												<h3 ng-click="editOffer(offer.id)" style="color:#1b4891">
													<b> {{offer.position}},
													<span ng-show="offer.branch==0">{{ 'BUILDING' | translate }}</span>
													<span ng-show="offer.branch==1"> {{ 'PHISICAL_WORK' | translate }}</span>
													<span ng-show="offer.branch==2"> {{ 'IT' | translate }}</span> </b>
											</div>
										</div>
										<div layout="row" style="margin-top: 3px">
											<div layout="column" style="width:250px">
												<div layout="row">
													<div layout="column">
														<span>{{ 'VACANCIES_NUMBER' | translate }}:</span>
														<span>{{ 'FREE_VACANCIES' | translate }}:</span>
													</div>
													<div layout="column" style="margin-left:5px">
														<span><b>{{offer.vacanciesNumber}}</b></span>
														<span><b>{{offer.vacanciesNumber - offer.acceptedCount}}</b></span>
													</div>
												</div>
											</div>
											<div layout="column" style="width:300px">
												<span>{{'WORK_PLACE'| translate}}:</span>
												<span><i><b>{{offer.workPlace}}</b></i></span>
											</div>
											<div layout="column" style="width:300px">
												<span>{{'PAYMENT'| translate}}:</span>
												<span ng-show="offer.ratePerHour != 0 && offer.ratePerHour != null">
													<i><b>{{offer.ratePerHour}} PLN {{'PER_HOUR'| translate}}</b><i>
												</span>
												<span ng-show="offer.ratePerMonth != 0 && offer.ratePerMonth != null">
													<i><b>{{offer.ratePerMonth}} PLN {{'PER_MONTH'| translate}}</b><i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<md-button aria-label="edit" class="md-icon-button md-secondary" ng-click="editOffer(offer.id)">
								<md-icon class="material-icons md-24 md-dark">open_in_new
									<md-tooltip md-direction="down">
										{{ 'DETAILS' | translate }}
									</md-tooltip>
								</md-icon>
							</md-button>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</md-content>
			</div>
		</section>
	</md-content>
</div>