<div ng-controller="NewsController">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    Inwestycje
                </h3>
                <a ng-show="!loadingInfo" href="#!/news/add/1/0" class="btn btn-default pull-right" role="button">Dodaj</a>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div ng-show="loadingContent">
                    <div class="loader col-center"></div>
                    <div class="text-center">Pobieramy dane...</div>
                </div>
                <div>
                    <table class="table table-hover table-striped" ng-show="!loadingContent">
                        <thead>
                            <tr>
                                <th>Tytuł</th>
                                <th>Tytuł UA</th>
                                <th>Data Dodania</th>
                                <!--  <th>Data dodania</th> -->
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="article in news">
                                <td>{{article.title}}</td>
                                <td>{{article.titleUa}}</td>
                                <td>{{ article.creationDate | date : "dd.MM.y" }}</td>
                                <td>
                                    <a href="#!/news/edit/{{siteId}}/{{article.id}}" class="btn btn-sm btn-info pull-right"><span class="glyphicon glyphicon-edit"></span> Edytuj</a>
                                </td>
                                <td>
                                    <a ng-click="removeArticle(article.id)" class="btn btn-sm btn-danger pull-right"><span class="glyphicon glyphicon-edit"></span> Usuń</a>
                                </td>
                                <!--   <td>{{cont.creationDate}}</td> -->
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>