<md-dialog aria-label="ContactPersons">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{'CONTACT_PERSON' | translate}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close()" ng-show="!Saving">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" style="width:800px">

			<div ng-include="'/templates/saving_loader.html'"></div>

			<!--NAME SURNAME-->
			<form name="contactpersonForm" ng-show="!Saving">
				<div layout="row" layout-align="space-between none">
					<md-input-container class="md-block" flex="45">
						<label>{{'CP_NAME'| translate}}</label>
						<input name="contactperson_name" ng-model="contactperson.name" placeholder="Jan" md-maxlength="100" required>
						<div ng-messages="contactpersonForm.contactperson_name.$error" role="alert" multiple>
							<div ng-message="required">{{'NAME_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'NAME_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex="45">
						<label>{{'CP_SURNAME'| translate}}</label>
						<input name="contactperson_surname" ng-model="contactperson.surname" placeholder="Kowalski" md-maxlength="100" required>
						<div ng-messages="contactpersonForm.contactperson_surname.$error" role="alert" multiple>
							<div ng-message="required">{{'SURNAME_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'SURNAME_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
				</div>
				<!--POSITION EMAIL-->
				<div layout="row" layout-align="space-between none">
					<md-input-container class="md-block" flex="45">
						<label>{{'CP_POSITION'| translate}}</label>
						<input name="contactperson_position" ng-model="contactperson.position" placeholder="Dyrektor" md-maxlength="100" required>
						<div ng-messages="contactpersonForm.contactperson_position.$error" role="alert" multiple>
							<div ng-message="required">{{'POSITION_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'POSITION_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex="45">
						<label>{{'CP_EMAIL'| translate}}</label>
						<input type="email" name="contactperson_email" placeholder="jan.kowalski@gmail.com" ng-model="contactperson.email" ng-pattern='/^.+@.+\..+$/'>
						<div ng-messages="contactpersonForm.contactperson_email.$error" role="alert">
							<div ng-message-exp="['pattern']">{{'EMAIL_ERROR_MSG' | translate}}</div>
						</div>
					</md-input-container>
				</div>
				<!--phone skype viber-->
				<div layout="row" layout-align="space-between center">
					<md-input-container class="md-block" flex="45">
						<label>{{'CP_PHONE'| translate}}</label>
						<input name="contactperson_phone" ng-model="contactperson.phoneNumber" placeholder="+48 999 999 999" md-maxlength="100">
						<div ng-messages="contactpersonForm.contactperson_phone.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'PHONE_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>


					<md-input-container class="md-block" flex="45">
						<label>{{'CP_SKYPE'| translate}}</label>
						<input name="contactperson_skype" ng-model="contactperson.skype" placeholder="SkypeLogin" md-maxlength="100">
						<div ng-messages="contactpersonForm.contactperson_skype.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'SKYPE_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row" layout-align="space-between center">
					<md-input-container class="md-block" flex="45" style="margin-top: -5px;">
						<md-select name="type" ng-model="contactperson.messangerType" data-placeholder="{{ 'MESSANGER_TYPE' | translate }}">
							<md-option value="1">Viber</md-option>
							<md-option value="0">WhatsApp</md-option>
							<!--<md-option value="2">{{ 'TO_DELETE' | translate }}</md-option> -->
						</md-select>
					</md-input-container>

					<md-input-container class="md-block" flex="45">
						<label>{{'CP_MESSANGER'| translate}}</label>
						<input name="contactperson_messanger" ng-model="contactperson.messanger" placeholder="+48 999 999 999" md-maxlength="100">
						<div ng-messages="contactpersonForm.contactperson_messanger.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'MESSANGER_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
				</div>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" ng-show="!Saving">
		<md-button ng-click="saveContactPersonClick()">
			{{'SAVE'|translate}}
		</md-button>
	</md-dialog-actions>
</md-dialog>