<md-dialog aria-label="Employees">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{'EMPLOYEE' | translate}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close()" ng-show="!Saving">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" style="width:800px">

			<div ng-include="'/templates/saving_loader.html'"></div>
			<!--NAME SURNAME-->
			<form name="employeeForm" ng-show="!Saving">
				<div layout="row">
					<md-input-container class="md-block" flex="33" ng-show="!Saving">
						<label>{{'EP_FIRST_NAME'| translate}}</label>
						<input name="employee_firstname" ng-model="employee.firstName" placeholder="Jan" md-maxlength="100" required>
						<div ng-messages="employeeForm.employee_name.$error" role="alert" multiple>
							<div ng-message="required">{{'NAME_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'FIRST_NAME_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex="33">
						<label>{{'EP_MIDDLE_NAME'| translate}}</label>
						<input name="employee_middlename" ng-model="employee.middleName" placeholder="Tadeusz" md-maxlength="100">
						<div ng-messages="employeeForm.employee_middlename.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'MIDDLE_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex="33">
						<label>{{'EP_LAST_NAME'| translate}}</label>
						<input name="employee_lastName" ng-model="employee.lastName" placeholder="Kowalski" md-maxlength="100" required>
						<div ng-messages="employeeForm.employee_lastName.$error" role="alert" multiple>
							<div ng-message="required">{{'SURNAME_REQUIRED' | translate}} </div>
							<div ng-message="md-maxlength">{{'SURNAME_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>
				</div>
				<!--BIRTHDATE-->
				<div layout="row">
					<md-input-container class="md-block" flex="30">
						<label>{{'BIRTHDATE'| translate}}</label>
						<md-datepicker md-current-view="year" ng-model="birthdate"></md-datepicker>
					</md-input-container>
					<md-input-container class="md-block" flex="70">
						<label>{{ 'STATUS' | translate }}</label>
						<md-select name="type" ng-model="employee.status" data-placeholder="{{ 'STATUS' | translate }}">
							<md-option value="1">{{ 'ACTIVE' | translate }}</md-option>
							<md-option value="0">{{ 'INACTIVE' | translate }}</md-option>
							<md-option value="2">{{ 'LEFT' | translate }}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container class="md-block" flex=>
						<label>{{'DESCRIPTION'| translate}}</label>
						<textarea name="employee_description" ng-model="employee.description" md-maxlength="1000" rows="2"></textarea>
						<div ng-messages="employeeForm.employee_description.$error" role="alert" multiple>
							<div ng-message="md-maxlength">{{'DESCRIPTION_IS_TO_LONG'| translate}}</div>
						</div>
					</md-input-container>

				</div>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" ng-show="!Saving">
		<md-button ng-click="saveEmployeeClick()">
			{{'SAVE'|translate}}
		</md-button>
	</md-dialog-actions>
</md-dialog>