<md-dialog aria-label="Client">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{'CLIENT_TITLE'| translate}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="close()" ng-show="!Saving">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			
			<div ng-include="'/templates/saving_loader.html'"></div>

			<form name="clientForm" ng-show="!Saving">
				<md-input-container class="md-block" style="width:400px;">
					<label>{{'CLIENT_NAME'| translate}}</label>
					<input name="client_name" ng-model="client.name" placeholder="Firma S. A." md-maxlength="100" required>
					<div ng-messages="clientForm.client_name.$error" role="alert" multiple>
						<div ng-message="required">{{'REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'TO_LONG'| translate}}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>{{'BRANCH'| translate}}</label>
					<input name="tax_id" ng-model="client.branch" placeholder="IT" md-maxlength="20" required>
					<div ng-messages="clientForm.tax_id.$error" role="alert" multiple>
						<div ng-message="required">{{'REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'TO_LONG'| translate}}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>{{'TAX_ID'| translate}}</label>
					<input name="tax_id" ng-model="client.nip" placeholder="{{'TAX_ID'| translate}}" md-maxlength="16" required>
					<div ng-messages="clientForm.tax_id.$error" role="alert" multiple>
						<div ng-message="required">{{'REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'TO_LONG'| translate}}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>{{ 'KRS' | translate }}</label>
					<input name="krs" ng-model="client.krs" placeholder="KRS" md-maxlength="20" required>
					<div ng-messages="clientForm.tax_id.$error" role="alert" multiple>
						<div ng-message="required">{{'REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'TO_LONG'| translate}}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>REGON</label>
					<input name="regon" ng-model="client.regon" placeholder="REGON" md-maxlength="14" required>
					<div ng-messages="clientForm.regon.$error" role="alert" multiple>
						<div ng-message="required">{{'REQUIRED' | translate}} </div>
						<div ng-message="md-maxlength">{{'TO_LONG'| translate}}</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>{{ 'TYPE' | translate }}</label>
					<md-select name="type" ng-model="client.type" data-placeholder="{{ 'TYPE' | translate }}">
						<md-option value="1">{{ 'LISING' | translate }}</md-option>
						<md-option value="0">{{ 'NOT_LISING' | translate }}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block">
					<label>{{ 'STATUS' | translate }}</label>
					<md-select name="type" ng-model="client.status" data-placeholder="{{ 'STATUS' | translate }}">
						<md-option value="1">{{ 'ACTIVE' | translate }}</md-option>
						<md-option value="0">{{ 'INACTIVE' | translate }}</md-option>
						<md-option value="2">{{ 'TO_DELETE' | translate }}</md-option>
					</md-select>
				</md-input-container>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" ng-show="!Saving">
		<md-button ng-click="saveClientClick()">
			{{'SAVE'| translate}}
		</md-button>
	</md-dialog-actions>
</md-dialog>