<ui-view ng-controller="ClientManageController">

	<div ng-include="'/templates/loader.html'"></div>
	<!--General information-->
	<!--Contact persons -->
	<!--Addresses -->
	<div ng-show="isActive">
		<div layout="row" layout-wrap layout-padding>
			<div flex-xs flex-gt-xs="30" layout-xs="column">
				<!--General information-->
				<section class="demo-container md-whiteframe-z1">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span ng-click="expandDetails = !expandDetails">{{'DETAIL_INFORMATION'| translate}}</span>
							</h2>
							<span flex></span>
							<md-button aria-label="button" class="md-icon-button" ng-click="showEditClientDialog()" ng-show="editClaim">
								<md-icon md-font-icon="ion-edit"></md-icon>
							</md-button>
							<md-button aria-label="button" class="md-icon-button" ng-click="expandDetails = !expandDetails">
								<md-icon md-font-icon="ion-navicon-round"></md-icon>
							</md-button>
						</div>
					</md-toolbar>
					<div ng-show="!expandDetails" class="element-hide" ng-cloak>
						<md-content>
							<md-list style="margin-top: -12px">
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-briefcase"></md-icon>
									<div class="md-list-item-text">
										{{ 'CLIENT_NAME' | translate }}
										<p>
											<h3><b>{{client.name}}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</div>
					<div ng-show="expandDetails" class="element-hide" ng-cloak>
						<md-content>
							<md-list style="margin-top: -12px">
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-briefcase"></md-icon>
									<div class="md-list-item-text">
										{{ 'CLIENT_NAME' | translate }}
										<p>
											<h3><b>{{client.name}}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
								<md-divider ng-if="!$last"></md-divider>
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-filing"></md-icon>
									<div class="md-list-item-text">
										{{ 'BRANCH' | translate }}
										<p>
											<h3><b>{{client.branch}}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
								<md-divider ng-if="!$last"></md-divider>
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-ios-copy"></md-icon>
									<div class="md-list-item-text">
										{{ 'TYPE' | translate }}
										<p>
											<h3 ng-show="client.type == '1'"><b>{{'LISING'| translate}}</b>
												<h3>
													<h3 ng-show="client.type == '0'"><b>{{'NOT_LISING'| translate}}</b>
														<h3>
										</p>
									</div>
								</md-list-item>
								<md-divider ng-if="!$last"></md-divider>
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-ios-copy"></md-icon>
									<div class="md-list-item-text">
										{{ 'NIP' | translate }}
										<p>
											<h3><b>{{client.nip}}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
								<md-divider ng-if="!$last"></md-divider>
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-ios-copy"></md-icon>
									<div class="md-list-item-text">
										{{ 'KRS' | translate }}
										<p>
											<h3><b>{{client.krs}}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
								<md-divider ng-if="!$last"></md-divider>
								<md-list-item class="md-2-line">
									<md-icon style="font-size:32px;" md-font-icon="ion-ios-copy"></md-icon>
									<div class="md-list-item-text">
										{{ 'REGON' | translate }}
										<p>
											<h3><b>{{client.regon}}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
								<md-divider ng-if="!$last"></md-divider>
								<md-list-item class="md-2-line" ng-show="client.status == '0'">
									<md-icon style="font-size:32px;" md-font-icon="ion-android-cancel"></md-icon>
									<div class="md-list-item-text">
										{{ 'STATUS' | translate }}
										<p>
											<h3><b>{{ 'INACTIVE' | translate }}</b>
												<h3>
										</p>
									</div>
								</md-list-item>
								<md-list-item class="md-2-line" ng-show="client.status == '1'">
									<md-icon style="font-size:32px;" md-font-icon="ion-checkmark-circled"></md-icon>
									<div class="md-list-item-text">
										{{ 'STATUS' | translate }}
										<p>
											<h3><b>{{ 'ACTIVE' | translate }}</b></h3>
										</p>
									</div>
								</md-list-item>
								<md-list-item class="md-2-line" ng-show="client.status == '2'">
									<md-icon style="font-size:32px;" md-font-icon="ion-trash-a"></md-icon>
									<div class="md-list-item-text">
										{{ 'STATUS' | translate }}
										<p>
											<h3><b>{{ 'TO_DELETE' | translate }}</b></h3>
										</p>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</div>
				</section>
			</div>
			<!--Contact persons -->
			<!--Addresses -->
			<div flex-xs flex-gt-xs="70" layout-xs="column">
				<!--Contact persons -->
				<section class="demo-container md-whiteframe-z1">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span ng-click="expandContactPersons=! expandContactPersons">{{'CONTACT_PERSONS' | translate}}</span>
							</h2>
							<span flex></span>
							<md-button aria-label="button" aria-label="button" class="md-icon-button" ng-click="showNewContactPersonDialog()" ng-show="addClaim">
								<md-icon md-font-icon="ion-plus-round"></md-icon>
							</md-button>
							<md-button aria-label="button" aria-label="button" class="md-icon-button" ng-click="expandContactPersons=! expandContactPersons">
								<md-icon md-font-icon="ion-navicon-round"></md-icon>
							</md-button>
						</div>
					</md-toolbar>
					<div ng-cloak ng-show="expandContactPersons" class="element-hide">
						<md-content>
							<md-list ng-cloak style="margin-top: -10px">
								<md-list-item class="md-2-line" ng-repeat="contactperson in client.contactPersons">
									<md-icon style="font-size:32px;" md-font-icon="ion-person-stalker" ng-click="showEditContactPersonDialog(contactperson)"></md-icon>
									<div class="md-list-item-text">
										<h3><b>{{contactperson.name}} {{contactperson.surname}} ({{contactperson.position}})<b></h3>
											<p>
												<b>{{'Email'|translate}}</b>: {{contactperson.email}} <b>{{'Phone'|translate}}</b>: {{contactperson.phoneNumber}}
											</p>
											<p>
												<b>{{'Skype'|translate}}</b>: {{contactperson.skype}} 
                                                <b ng-show="contactperson.messangerType == 0">WhatsApp</b>
                                                <b ng-show="contactperson.messangerType == 1">Viber</b>: {{contactperson.messanger}}
											</p>
									</div>
									<md-button aria-label="button" class="md-icon-button md-secondary" ng-click="showEditContactPersonDialog(contactperson)"
										ng-show="editClaim">
										<md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
									</md-button>
									<md-button aria-label="button" class="md-icon-button md-secondary" ng-click="showDeleteCtpConfirmDialog(contactperson.id)"
										ng-show="deleteClaim">
										<md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
									</md-button>
									<md-divider ng-if="!$last"></md-divider>
								</md-list-item>
							</md-list>
						</md-content>
					</div>
				</section>
				</br>
				<!--Addresses -->
				<section class="demo-container md-whiteframe-z1" style="margin-top: -7px">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span ng-click="expandAddresses=! expandAddresses">{{'ADDRESSES' | translate}}</span>
							</h2>
							<span flex></span>
							<md-button aria-label="button" class="md-icon-button" ng-click="showNewAddressDialog()" ng-show="addClaim">
								<md-icon md-font-icon="ion-plus-round"></md-icon>
							</md-button>
							<md-button aria-label="button" class="md-icon-button" ng-click="expandAddresses=! expandAddresses">
								<md-icon md-font-icon="ion-navicon-round"></md-icon>
							</md-button>
						</div>
					</md-toolbar>
					<div ng-show="expandAddresses" class="element-hide">
						<md-content flex="100">
							<md-list ng-cloak>
								<md-list-item class="md-2-line" ng-repeat="address in client.addresses">
									<md-icon style="font-size:32px;" md-font-icon="ion-home" ng-click="showEditAddressDialog(address)"></md-icon>
									<div class="md-list-item-text">
										<h4>{{'ADDRESS_TITLE'| translate}}: <b>{{address.address}}</b>, <b>{{address.postCode}}</b></h4>
										<p>{{ 'CITY' | translate }}: <b>{{address.city}}</b>, &nbsp&nbsp {{ 'COUNTRY' | translate }} <b>{{address.country}}</b>											</p>
										<p ng-show="address.type==1"> {{ 'LEGAL_ADDRESS' | translate }}</p>
										<p ng-show="address.type==2"> {{ 'WORK_ADDRESS' | translate }}</p>
										<!--	<p ng-show="address.type==3"> {{ 'HOME_ADDRESS' | translate }}</p> -->
									</div>
									<md-button aria-label="button" class="md-icon-button md-secondary" ng-click="showEditAddressDialog(address)" ng-show="editClaim">
										<md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
									</md-button>
									<md-button aria-label="button" class="md-icon-button md-secondary" ng-click="showDeleteAddressConfirmDialog(address.id)"
										ng-show="deleteClaim">
										<md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
									</md-button>
									<md-divider ng-if="!$last"></md-divider>
								</md-list-item>
							</md-list>
						</md-content>
					</div>
				</section>
			</div>
		</div>

		<div layout="row" layout-wrap layout-padding>
			<div flex-xs flex layout-xs="column">
				<section class="demo-container md-whiteframe-z1">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span ng-click="expandOffers=! expandOffers">{{'OFFERS'|translate}}</span>
							</h2>
							<span flex></span>
							<md-input-container class="md-block searchPlaceholder" md-no-float flex style="margin-top:42px; margin-left: 50px;">
								<label style="margin-bottom:0;" ng-show="searchOffersString == null || searchOffersString == '' ">{{'SEARCH'| translate}} ...</label>
                                <input id="search" aria-label="input" ng-model="searchOffersString" style="color:white; font-size:12pt;"/>
							</md-input-container>

                            <md-button class="md-icon-button" aria-label="Search"
                                       ng-show="searchOffersString == null || searchOffersString == '' ">
                                <md-icon md-font-icon="ion-search"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Search"
                                       ng-show="searchOffersString!= null && searchOffersString != ''"
                                       ng-click="searchOffersString = null">
                                <md-icon md-font-icon="ion-android-close"></md-icon>
                            </md-button>

                            <md-button aria-label="button" class="md-icon-button" ng-click="showNewOfferDialog()"
                                       ng-show="addClaim">
                                <md-icon md-font-icon="ion-plus-round"></md-icon>
                            </md-button>
                            <md-button aria-label="button" class="md-icon-button"
                                       ng-click="expandOffers=! expandOffers">
                                <md-icon md-font-icon="ion-navicon-round"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <div layout="row" ng-show="expandOffers" ng-cloak>
                        <md-content flex="100">
                            <md-list ng-cloak>
                                <md-list-item class="md-2-line"
                                              ng-repeat="offer in client.offers | offersSearchFor : searchOffersString">
                                    <md-icon style="font-size:32px;" md-font-icon="ion-document-text"
                                             ng-click="goToOfferDetails(offer.id)"></md-icon>
                                    <div class="md-list-item-text">
                                        <h4 ng-click="goToOfferDetails(offer.id)"><b>{{offer.position}}</b>,
                                            <b ng-show="offer.branch==0">{{ 'BUILDING' | translate }}</b>
                                            <b ng-show="offer.branch==1"> {{ 'PHISICAL_WORK' | translate }}</b>
                                            <b ng-show="offer.branch==2"> {{ 'IT' | translate }}</b>
                                        </h4>
                                        <p>{{ 'VACANCIES_NUMBER' | translate }}: <b>{{offer.vacanciesNumber}}</b></p>
                                        <p>{{ 'BUSY_VACANCIES' | translate }}: <b>{{offer.acceptedCount}}</b></p>
                                        <p>{{ 'AWAITING_VACANCIES' | translate }}: <b>{{offer.awaitingCount}}</b></p>
                                    </div>

                                    <md-button aria-label="edit" class="md-icon-button md-secondary"
                                               ng-click="goToOfferDetails(offer.id)">
                                        <md-icon class="material-icons md-24 md-dark">open_in_new
                                            <md-tooltip md-direction="down">
                                                {{ 'DETAILS' | translate }}
                                            </md-tooltip>
                                        </md-icon>
                                    </md-button>
                                    <md-button aria-label="button" class="md-icon-button md-secondary"
                                               ng-click="showEditOfferDialog(offer)" ng-show="editClaim">
                                        <md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
                                    </md-button>
                                    <md-button aria-label="button" class="md-icon-button md-secondary"
                                               ng-click="showDeleteOfferConfirmDialog(offer.id)" ng-show="deleteClaim">
                                        <md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
                                    </md-button>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </section>
            </div>
        </div>


        <!--OFFERS-->

		<!--EMPLOYEES-->
		<div layout="row" layout-wrap layout-padding>
			<div flex-xs flex layout-xs="column">
				<section class="demo-container md-whiteframe-z1">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span>{{'EMPLOYED_PEOPLE'|translate}}</span>
							</h2>
							<span flex></span>
							<md-input-container class="md-block searchPlaceholder" md-no-float flex style="margin-top:42px; margin-left: 50px;">
								<label style="margin-bottom:0;" ng-show="searchEmployeeString == null || searchEmployeeString == '' ">{{'SEARCH'| translate}} ...</label>
                                <input id="search" aria-label="input" ng-model="searchEmployeeString" style="color:white; font-size:12pt;"/>
							</md-input-container>

							<md-button class="md-icon-button" aria-label="Search" ng-show="searchEmployeeString == null || searchEmployeeString == '' ">
								<md-icon md-font-icon="ion-search"></md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Search" ng-show="searchEmployeeString!= null && searchEmployeeString != ''"
								ng-click="searchEmployeeString = null">
								<md-icon md-font-icon="ion-android-close"></md-icon>
							</md-button>
							<md-button aria-label="button" class="md-icon-button" ng-click="expandEmployees=! expandEmployees">
								<md-icon md-font-icon="ion-navicon-round"></md-icon>
							</md-button>
						</div>

                    </md-toolbar>
                    <div ng-show="expandEmployees" ng-cloak>
                        <md-content>
                            <md-list ng-cloak>
                                <md-list-item class="md-2-line"
                                              ng-repeat="employee in client.employees | employeesSearchFor:searchEmployeeString">
                                    <md-icon style="font-size:32px;" md-font-icon="ion-person"
                                             ng-click="viewEmployeeDatails(employee.id)">
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3 ng-click="viewEmployeeDatails(employee.id)"><b>{{employee.firstName}}
                                            {{employee.middleName}} {{employee.lastName}}</b></h3>
                                        <p>
                                            {{'BIRTHDATE'|translate}}:
                                            {{moment(employee.birthDate).format('DD-MM-YYYY')}}
                                        </p>
                                    </div>
                                    <md-icon style="font-size:24px;" md-font-icon="ion-checkmark-circled"
                                             ng-show="employee.status == '1'">
                                        <md-tooltip md-direction="left">
                                            {{ 'ACTIVE' | translate }}
                                        </md-tooltip>
                                    </md-icon>
                                    <md-icon style="font-size:24px;" md-font-icon="ion-android-cancel"
                                             ng-show="employee.status == '0'">
                                        <md-tooltip md-direction="left">
                                            {{ 'INACTIVE' | translate }}
                                        </md-tooltip>
                                    </md-icon>
                                    <md-icon style="font-size:24px;" md-font-icon="ion-sad"
                                             ng-show="employee.status == '2'">
                                        <md-tooltip md-direction="left">
                                            {{ 'LEFT' | translate }}
                                        </md-tooltip>
                                    </md-icon>
                                    <md-button aria-label="edit" class="md-icon-button md-secondary"
                                               ng-click="viewEmployeeDatails(employee.id)">
                                        <md-icon class="material-icons md-24 md-dark">open_in_new
                                            <md-tooltip md-direction="down">
                                                {{ 'DETAILS' | translate }}
                                            </md-tooltip>
                                        </md-icon>
                                    </md-button>
                                    <!--<md-button aria-label="button" class="md-icon-button md-secondary " ng-click="editEmployee(employee.id)" ng-show="editClaim">
                                        <md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
                                    </md-button> -->
                                    <!--<md-button aria-label="button" class="md-icon-button md-secondary " ng-click="showDeleteEmployeeConfirmDialog(employee.id)"
                                        ng-show="deleteClaim">
                                        <md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
                                    </md-button> -->
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </section>
            </div>
        </div>


        <!--Documents -->
        <div layout="row" layout-wrap layout-padding>
            <div flex-xs flex layout-xs="column">
                <section class="demo-container md-whiteframe-z1">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>
                                <span>{{'FILES'|translate}}</span>
                            </h2>
                            <span flex></span>
                            <md-button aria-label="button" class="md-icon-button" ng-click="showNewFileDialog()"
                                       ng-show="addClaim">
                                <md-icon md-font-icon="ion-plus-round"></md-icon>
                            </md-button>
                            <md-button aria-label="button" class="md-icon-button" ng-click="expandFiles = !expandFiles">
                                <md-icon md-font-icon="ion-navicon-round"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <div ng-show="expandFiles" ng-cloak>
                        <md-content>
                            <md-list ng-cloak>
                                <md-list-item class="md-2-line" ng-repeat="file in client.files">
                                    <md-icon style="font-size:32px;" md-font-icon="ion-document">
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3><b>{{file.name}}</b></h3>
                                    </div>
                                    <md-button aria-label="button" class="md-icon-button md-secondary">
                                        <a href="{{file.url}}" target="_blank">
                                            <md-icon md-font-icon="ion-ios-cloud-download"></md-icon>
                                        </a>
                                    </md-button>
                                    <md-button aria-label="button" class="md-icon-button md-secondary "
                                               ng-click="showDeleteFileConfirmDialog(file.id)" ng-show="deleteClaim">
                                        <md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </section>
            </div>
        </div>


        <!--Notes -->
		<!--Notes -->
		<div layout="row" layout-padding>
			<div flex flex-gt-xs layout-xs="column">
				<section class="demo-container md-whiteframe-z1">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>
								<span>{{'NOTES'|translate}}</span>
							</h2>
							<span flex></span>

							<md-button aria-label="button" class="md-icon-button" ng-click="addNoteDialog()"
									   ng-show="addClaim">
								<md-icon md-font-icon="ion-plus-round "></md-icon>
							</md-button>
							<md-button aria-label="button " class="md-icon-button" ng-click="expandNotes=! expandNotes">
								<md-icon md-font-icon="ion-navicon-round"></md-icon>
							</md-button>
						</div>
					</md-toolbar>
					<div ng-show="expandNotes" ng-cloak>
						<md-content>
							<md-list ng-cloak>
								<md-list-item class="md-2-line" ng-repeat="note in client.notes">
									<md-icon style="font-size:32px;" md-font-icon="ion-chatbox">
									</md-icon>
									<div class="md-list-item-text">

										<h3><b>{{note.subject}}</b></h3>
										<p>
											<i>{{note.noteText}}</i>
										</p><br/>

										<div class="event-footer-text">
											<span>{{'ADDED_BY' | translate}} {{note.targetUserName}}</span>
											<span style="margin-left: 10px;">{{moment(note.creatingDate).format('DD-MM-YYYY HH:mm')}}</span>
										</div>
									</div>

									<md-button aria-label="button" class="md-icon-button md-secondary "
											   ng-click="editNoteDialog(note)" ng-show="editClaim">
										<md-icon md-svg-icon="/lib/icons/edit.svg"></md-icon>
									</md-button>
									<md-button aria-label="button" class="md-icon-button md-secondary "
											   ng-click="deleteNoteDialog(note.id)"
											   ng-show="deleteClaim">
										<md-icon md-svg-icon="/lib/icons/delete.svg"></md-icon>
									</md-button>
									<md-divider></md-divider>
								</md-list-item>

							</md-list>
						</md-content>
					</div>
				</section>
			</div>
		</div>


		<!--Files -->


		<!--Fucking material add buttons NOT ALL BUTTONS ARE AVAILABLE ON PAGE-->
		<nav mfb-menu position="br" effect="zoomin" active-icon="ion-edit" resting-icon="ion-plus-round">
			<a mfb-button mfb-button-close icon="ion-android-contact" label="{{ 'ADD_CONTACT_PERSON' | translate}}" ng-click="showNewContactPersonDialog()"
				ng-show="addClaim" />
			<a mfb-button mfb-button-close icon="ion-home" label="{{ 'ADD_ADDRESS' | translate}}" ng-click="showNewAddressDialog()" ng-show="addClaim"
			/>
			<a mfb-button mfb-button-close icon="ion-android-document" label="{{ 'ADD_DOCUMENT' | translate}}" ng-click="showNewDocumentsDialog()"
				ng-show="addClaim" />
			<a mfb-button mfb-button-close icon="ion-bag" label="{{ 'ADD_OFFER' | translate}}" ng-click="showNewOfferDialog()" ng-show="addClaim"
			/>
			<a mfb-button mfb-button-close icon="ion-card" label="{{ 'ADD_PAYMENT' | translate}}" ng-click="showNewPaymentDialog()" ng-show="addClaim"
			/>
			<a mfb-button mfb-button-close icon="ion-ios-information" label="{{ 'ADD_NOTE' | translate}}" ng-click="showNewNoteDialog()"
				ng-show="addClaim" />
		</nav>
	</div>
	<!--Fucking material return button-bich -->
	<nav mfb-menu position="tl" style="margin-top:100px;" active-icon="ion-android-arrow-back" resting-icon="ion-android-arrow-back"
		ng-click="goBack()">
	</nav>

</ui-view>